<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap" style="font-weight:bolder;color:white;">Change password</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
  <form [formGroup]="drimsFormOne" novalidate>
    <div class="button-content">
      <ion-label class="lable">Old password <span style="color:red">*</span></ion-label>
      <ion-item class="roundedInput">
        <ion-input formControlName="oldPwd" [type]="passwordTypeOldPwd"
          placeholder="Old password" (ionChange)="OldPwdChange()">
        </ion-input>
        <ion-icon [name]="passwordIconOldPwd" class="passwordIconOldPwd" (click)='hideShowOldPassword()'>
        </ion-icon>
      </ion-item>
      <div style="padding-left: 32px;"
        *ngIf="isSubmitted && drimsFormOne.controls['oldPwd'].hasError('required')">
        <small style="color: #f70505;">Please enter Old password.</small>
      </div>
    </div>

    <div class="button-content">
      <ion-label class="lable">New password <span style="color:red">*</span></ion-label>
      <ion-item  class="roundedInput">
        <ion-input formControlName="newPwd"  [type]="passwordTypeNewPwd" placeholder="New password">
        </ion-input>
        <ion-icon [name]="passwordIconNewPwd" class="passwordIconNewPwd" (click)='hideShowNewPassword()'>
        </ion-icon>
      </ion-item>
      <div style="padding-left: 32px;"
        *ngIf="isSubmitted && drimsFormOne.controls['newPwd'].hasError('required')">
        <small style="color: #f70505;">Please enter New password.</small>
      </div>
    </div>

    <div class="button-content">
      <ion-label class="lable">Confirm new password <span style="color:red">*</span></ion-label>
      <ion-item class="roundedInput">
        <ion-input formControlName="confNewPwd"  [type]="passwordTypeConfNewPwd" placeholder="Confirm new password">
        </ion-input>
        <ion-icon [name]="passwordIconConfNewPwd" class="passwordIconConfNewPwd" (click)='hideShowConfNewPassword()'>
        </ion-icon>
      </ion-item>
      <div style="padding-left: 32px;"
        *ngIf="isSubmitted && drimsFormOne.controls['confNewPwd'].hasError('required')">
        <small style="color: #f70505;">Please enter Confirm new password.</small>
      </div>
    </div>

    <div style="padding-top: 15px;">
      <!-- Cancel / Update button -->
      <ion-row>
        <ion-col style="text-align: left; width: 50%;" class="ion-margin-top">
          <ion-button shape="round" class="ioncardButtonNormal" (click)="cancelClick()">
            <ion-icon slot="start" name="close-circle-outline"></ion-icon>CANCEL
          </ion-button>
        </ion-col>
        <ion-col style="text-align: right;width: 50%;" class="ion-margin-top">
          <ion-button shape="round" class="addBtn" (click)="submitClick()">
            <ion-icon slot="start" name="save-outline"></ion-icon>UPDATE
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
  </ion-card-content>
  </ion-card>
</ion-content>
