<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="" (click)="navigateBackWithParams()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap" style="font-weight:bolder;color:white;">Return Item List</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top: 10px;">
    <div class="row" style="margin-left: 1%;">
      <div class="col-xl-5">
        <h6><b>Debit Name :</b> {{returnItemName}} </h6>
        <h6><b>Debit No :</b> {{returnMemoNo}} </h6>
      </div>
    </div>

    <div class="search-bar">
      <ion-item class="search-input">
        <ion-input placeholder="Search" [(ngModel)]="searchInput" type="text"></ion-input>
      </ion-item>
      <ion-button class="search-button" (click)="filterList()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button class="reset-button" (click)="resetList()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button class="add-button" (click)="gotoAddNew()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button class="add-button" (click)="uplodeLive()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-card *ngFor='let element of debitMemoListlocal' class="list-card">
    <ion-card-content>
      <ion-item style="--ion-item-background: transparent;" lines="none">
         <ion-label>
          <h2 *ngIf="element.ndcupcCode != null && element.ndcupcCode != ''" class="ion-text-wrap"
            class="list-values-ion">{{element.ndcupcCode}}
          </h2>
          <p *ngIf="element.lotNo != null && element.lotNo != ''" class="ion-text-wrap">Lot no.: <span
              class="list-values-ion">{{element.lotNo}}</span></p>
          <p *ngIf="element.quantity != null && element.quantity != ''" class="ion-text-wrap">Quantity:
            <span class="list-values-ion">{{element.quantity}}</span>
          </p>
          <p *ngIf="element.price != null && element.price != ''" class="ion-text-wrap">Price:
            <span class="list-values-ion">{{element.price}}</span>
          </p>
          <p *ngIf="element.expDate != null && element.expDate != ''" class="ion-text-wrap">Expiry date:
            <span class="list-values-ion">{{element.expDate}}</span>
          </p>
          <br />
        </ion-label>
      </ion-item>
      
    </ion-card-content>
  </ion-card>



  <ion-card *ngFor='let element of debitMemoList' class="list-card">
    <ion-card-content>
      <ion-item style="--ion-item-background: transparent;" lines="none">
         <ion-label>
          <h2 *ngIf="element.ndcupcCode != null && element.ndcupcCode != ''" class="ion-text-wrap"
            class="list-values-ion">{{element.ndcupcCode}}
          </h2>
          <p *ngIf="element.lotNo != null && element.lotNo != ''" class="ion-text-wrap">Lot no.: <span
              class="list-values-ion">{{element.lotNo}}</span></p>
          <p *ngIf="element.quantity != null && element.quantity != ''" class="ion-text-wrap">Quantity:
            <span class="list-values-ion">{{element.quantity}}</span>
          </p>
          <p *ngIf="element.price != null && element.price != ''" class="ion-text-wrap">Price:
            <span class="list-values-ion">{{element.price}}</span>
          </p>
          <p *ngIf="element.expDate != null && element.expDate != ''" class="ion-text-wrap">Expiry date:
            <span class="list-values-ion">{{element.expDate}}</span>
          </p>
          <br />
        </ion-label>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button class="verifyDeclineBtn" size="small"
          (click)="edit_click(element.returnMemoNo, element.returnMemoItemsCode)">EDIT
          <ion-icon slot="start" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button class="verifyDeclineBtn" size="small" color="danger" (click)="delete(element.returnMemoItemsCode)">
          DELETE
          <ion-icon slot="start" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
</ion-content>